<!--  наследуемся от шаблона default.html, который мы создавали для flatpages -->
{% extends 'flatpages/default.html' %}
<!--  подключаем свои фильтры по адресу: templatetags/custom_filters.py -->
{% load custom_filters %}
<!-- Подключаем новый файл с тегом вывода текущего времени -->
{% load custom_tags %}

<!-- Название будет "новости" -->
{% block title %}
Все новости
{% endblock title %}

<!-- В контенте на странице мы выводим все новости -->
{% block content %}
<h1>Все новости ({{ page_obj.paginator.count }})</h1>
    <!-- Вот так используем новый тег-->
    <h3>{% current_time '%b %d %Y' %}</h3>
    <!-- Если в переменной next_news будет None, то выведется указанный в фильтре текст -->
    <h3> {{ next_news|default_if_none:"Следите за обновлением ленты новостей!" }} </h3>
    <hr>
    <!-- Выводим новости, только если они есть с помощью тега if -->
    {% if News %}
        <table> <!-- Начинаем описывать таблицу -->
           <tr> <!-- Добавляем строку -->
               <td> <!-- Добавляем ячейку в строку -->
                   Название статьи/новости
               </td>
               <td> <!-- Добавляем ещё одну ячейку в строку и так далее -->
                   Дата публикации
               </td>
               <td>Содержание</td>
           </tr> <!-- Не забываем закрыть HTML-тег строки -->
            <!-- Для каждой новости будете генерироваться новая строчка,
           т.е. новый HTML код, который указан в теле цикла.
           При этом сам цикл работает точно так же, как и в Python.
           post — переменная цикла, т.е. наша новость, полученная из списка -->
           {% for news_id in News %}
           <tr>
               <!-- Не забываем, что переменные в шаблоне ничем не отличаются
                от переменных в Python. Здесь также можно получать доступ к
                полям объекта модели. Например, здесь мы выводим имя,
                в следующем столбце описание, и т.д.  -->
               <td>{{ news_id.title|truncatewords:2|censor }}</td>
               <td>{{ news_id.dateCreation|date:'d M Y' }}</td>
               <td>{{ news_id.text|truncatechars:20|censor }}</td>
           </tr>
           {% endfor %}

       </table> <!-- ... и таблицы -->
    {% else %}
        <!-- Если новостей нет, говорим, что новостей нет ;) -->
       <h2>Новостей нет!</h2>
    {% endif %}

    {# Добавляем пагинацию на страницу #}

   {# Информация о предыдущих страницах #}
   {% if page_obj.has_previous %}
       <a href="?page=1">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {# Информация о текущей странице #}
   {{ page_obj.number }}

   {# Информация о следующих страницах #}
   {% if page_obj.has_next %}
       <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}

{% endblock content %}