<!--  наследуемся от шаблона default.html, который мы создавали для flatpages -->
{% extends 'flatpages/default.html' %}
<!--  подключаем свои фильтры по адресу: templatetags/custom_filters.py -->
{% load custom_filters %}

<!-- Название будет "новости" -->
{% block title %}
Содержание
{% endblock title %}

<!-- В контенте на странице мы выводим все новости -->
{% block content %}
    {% if News_id %}
        <h5>
            Заголовок: <i>{{ News_id.title|truncatewords:2|censor }}</i>&emsp;&emsp;
            Дата публикации: {{ News_id.dateCreation|date:'d M Y' }}
        </h5>
        <h5>Содержание: {{ News_id.text|censor }}</h5>
    {% else %}
        <h2>Новость не найдена!</h2>
    {% endif %}
{% endblock content %}